.log-status.wrong-entry {
    -webkit-animation: kf_shake 0.4s 1 linear;
    -moz-animation: kf_shake 0.4s 1 linear;
    -o-animation: kf_shake 0.4s 1 linear;
}

.log-status.wrong-entry .modalText,
.wrong-entry .modalText + .fa {
    border-color: #ed1c24;
    color: #ed1c24;
}

.alert-msg {
    display: none;
    font-size: 12px;
    color: #f00;
    float: left;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

@-webkit-keyframes kf_shake {
    0% {
        -webkit-transform: translate(30px);
    }

    20% {
        -webkit-transform: translate(-30px);
    }

    40% {
        -webkit-transform: translate(15px);
    }

    60% {
        -webkit-transform: translate(-15px);
    }

    80% {
        -webkit-transform: translate(8px);
    }

    100% {
        -webkit-transform: translate(0px);
    }
}

@-moz-keyframes kf_shake {
    0% {
        -moz-transform: translate(30px);
    }

    20% {
        -moz-transform: translate(-30px);
    }

    40% {
        -moz-transform: translate(15px);
    }

    60% {
        -moz-transform: translate(-15px);
    }

    80% {
        -moz-transform: translate(8px);
    }

    100% {
        -moz-transform: translate(0px);
    }
}

@-o-keyframes kf_shake {
    0% {
        -o-transform: translate(30px);
    }

    20% {
        -o-transform: translate(-30px);
    }

    40% {
        -o-transform: translate(15px);
    }

    60% {
        -o-transform: translate(-15px);
    }

    80% {
        -o-transform: translate(8px);
    }

    100% {
        -o-origin-transform: translate(0px);
    }
}
